button, input {
  font-family: monospace;
  font-size: 24pt;
}

h1 {
  font-family: monospace;
}

ol {
  font-family: sans-serif;
  font-size: 14pt;
}

ol button {
  font-size: 12pt;
  margin-left: 5px;
}
